 @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
 body {
     background: #ffffff;
     margin: 0;
     padding: 20px;
     font-family: 'Nunito', sans-serif;
     min-width: 450px;
 }
 
 label,
 p {
     margin-top: 10px;
     font-size: medium;
     font-family: 'Nunito', sans-serif;
 }
 
 input[type=text] {
     width: 95%;
     padding: 8px;
     font-size: medium;
     margin-bottom: 20px;
     font-family: 'Nunito', sans-serif;
     border-radius: 8px;
     border-width: thin;
 }
 
 input:focus,
 textarea:focus {
     outline: none !important;
     border: solid #6875F5;
 }
 
 textarea {
     font-size: medium;
     width: 95%;
     padding: 8px;
     font-family: 'Nunito', sans-serif;
     border-radius: 8px;
 }
 
 button {
     background-color: #6875F5;
     color: #ffffff;
     font-family: 'Nunito', sans-serif;
     font-size: 20px;
     margin: 30px 0;
     padding: 10px 30px;
     border: 2px solid #6875F5;
     border-radius: 8px;
 }
 
 button:hover {
     color: #6875F5;
     background-color: transparent;
     transition-duration: 500ms;
     border: 2px solid #6875F5;
 }